/*  */
.btn-wrapper button {
  background-color: green;
  border: 0px;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  box-shadow: #333 0px 1px 5px;
}

.btn-wrapper .remove-to-cart{
  background-color: rebeccapurple;
  margin-top: 8px;
}

.img-wrapper img {
  width: 100px;
  margin-top: -10px;
  ;
}

.cart-wrapper {
  height: 100px;
  width: 500px;
  border: 1px solid #ccc;
  margin-left: 10%;
}

.item {
  float: left;
  display: inline-block;
  width: 120px;
  padding: 12px;
  height: 70px;
}

/*  */